<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home/">Furama</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" thref="/home/">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Employee
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/employee/show">Show all employee</a>
          <a class="dropdown-item" href="/employee/create">Add new employee</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Customer
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/customer/show">Show all customer</a>
          <a class="dropdown-item" href="/customer/create">Add new customer </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Service
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/service/showAll">Show all service</a>
          <a class="dropdown-item" href="/service/create">Add new service </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown4" role="button"
           data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
          Contract
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/contract/show">Show all contract</a>:<app-contract></app-contract>
          <a class="dropdown-item" href="/contract/createContract">Add new contract </a>
          <a class="dropdown-item" href="/contract/createContractDetail">Add new contract detail </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <!--                    <a th:if="${#request.userPrincipal != null}" href="/logout">Logout</a>-->
      </li>
    </ul>
    <!--            <form class="form-inline my-2 my-lg-0">-->
    <!--                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
    <!--                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
    <!--            </form>-->
  </div>
</nav>
