<header>
  <div style="background-color: #e7e9eb" class="container-fluid">
    <div class="row">
      <div class="col-6 d-flex justify-content-lg-start">
        <div class="ml-3 mt-1">
          <a href="/home/">
            <img src="assets/img/logo.png">
            <!--                        <img src="img_girl.jpg" alt="Girl in a jacket" width="500" height="600">-->
          </a>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="mr-5 mt-5 font-weight-bold">
          <!--                    <h4 th:if="${#request.userPrincipal!=null}" style="color: blue"> User: <span th:utext="${#request.userPrincipal.name}"></span></h4>-->
        </div>
      </div>
    </div>
  </div>
</header>
